body {
    margin: 0;
}
#h11{
    margin-right: 100px;
}

ul {
    list-style-type: none;
   
    height: 40px;
    background-color: black;
    border: 1px solid white;
}

.one {
    float: left;
    
}

.one a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: large;
}

.one a:hover {
    background-color: rgb(194, 2, 2);
}

.main {
    position: relative;
    display: inline-block;
    left:990px;
}

.second {
    position: absolute;
    display: none;
    color: white;
    min-width: 160px;
    box-shadow: 0px 10px 16px 10px black;
    border-bottom: 1px black;
}

.second a {
    display: block;
    color: rgb(22, 22, 22);
    padding: 10px 10px;
    background-color:white;
}

.main:hover .second {
    display: block;
}